//-- Contenido de la Sección Expansión del Producto MAD por parte de los Clientes del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo completamente el Producto MAD`

block body