//-- Contenido del Inicio Autenticado para Clientes del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
  include ./componentes/cabecera.pug
  div.inicio
    form(method='GET' action=`/sesion-cliente/${id}/empieza`)
      button.btnCategorias='Entrada MAD'
  include ./componentes/piepagina.pug