//-- Contenido del Inicio Autenticado para Miembros MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
  include ./componentes/cabecera.pug
  div.inicio
    form(method='GET' action=`/sesion-miembro/${id}/categorias`)
      button.btnCategorias='Categorias'
  include ./componentes/piepagina.pug