//-- Contenido de la Interfaz de los Miembros MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`MAD Services: Sesión ${id}`

block body
    include ./componentes/cabecera.pug
    .interfazMiembroMAD
        br
        header
            if tipo === 'PELUQUERIA'
                img(src='/images/encabezadoPeluq.png' alt='encabezadoPeluq')
            else if tipo === 'RESTAURANTE'
                img(src='/images/encabezadoRestaurante.jpg' alt='encabezadoRestaurante')
            h1=`${tipo} ${marca}:`
    include ./componentes/piepagina.pug