//-- Contenido de la Sección Categorias del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title='MAD Services: Categorias'

block body
    include ../componentes/cabecera.pug
    div.categoriasSeccion
        div.categoria#Consolas='Consolas'
        div.categoria#Libros='Libros'
        div.categoria#Videojuegos='Videojuegos'
    include ../componentes/piepagina.pug