//-- Contenido de la Sección Categorias Autenticado de la Empresa del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title=`MAD Services: ${id} en Categorias`

block body
    include ../componentes/cabeceraAuthEmpresa.pug
    div.categoriasSeccion
        div.categoria#productosMAD='Productos MAD'
            canvas#marcaMAD
            img#imgMAD(src='/images/madservices.png' alt='madservices')
        div.categoria#restoMarcas='Resto de marcas'
            canvas#multiMarca
            img#imgMulti(src='/images/multimarca.png' alt='multimarca')
    include ../componentes/piepaginaAuthEmpresa.pug