//-- Contenido de la Sección Sobre MAD Services del Comercio Electrónico.
extends ../base.pug

block title
  title='MAD Services: Conócenos'

block body
  include ../componentes/cabecera.pug
  div.conoceMADs
    div.cuadro
      h1='Hablemos de MAD Services....'
      img.logoConoce(src='/images/conocenos.png' alt='conocenos')
      object.intro(data="/texts/conoceMADs.txt" type="text/plain" width="900" height="200")
      a(href='https://github.com/madenterpriseservices/wiki/wiki' target="_blank")
        img.imagenConoce(src='/images/linkToWiki.png' alt='linkToWiki')
  include ../componentes/piepagina.pug