//-- Contenido de la Sección Sobre MAD Services del Comercio Electrónico.
extends ../base.pug

block title
  title='MAD Services: Conócenos'

block body
    include ../componentes/cabecera.pug
    div.conoceMADs
    include ../componentes/piepagina.pug