//-- Contenido de la Sección Contacto del Comercio Electrónico MAD Services.
extends ../base.pug

block title
  title='MAD Services: Contacto'

block body
  include ../componentes/cabecera.pug
  div.contacto
  include ../componentes/piepagina.pug