//-- Contenido del Inicio Autenticado del Comercio Electrónico MAD Services.
extends ../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
  include ../componentes/cabeceraAuth.pug
  div.inicio
    form(method='GET' action=`/sesion/${id}/categorias`)
      button.btnCategorias='Categorias'
  include ../componentes/piepaginaAuth.pug