//-- Contenido de la Sección Productos MAD Autenticado del Cliente del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title=`${id} viendo Productos MAD`

block body
    include ../componentes/cabeceraAuthCliente.pug
    div.seccionProductosMADcliente
    include ../componentes/piepaginaAuthCliente.pug