//-- Contenido de la Sección Productos MAD Autenticado del Cliente del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title=`MAD Services: ${id} en Categorias`

block body
    include ../componentes/cabeceraAuthCliente.pug
    div.seccionProductosMADcliente
    include ../componentes/piepaginaAuthCliente.pug