//-- Contenido de la Sección Productos MAD Autenticado de la Empresa del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title=`MAD Services: ${id} en Categorias`

block body
    include ../componentes/cabeceraAuthEmpresa.pug
    div.seccionProductosMADcliente
    include ../componentes/piepaginaAuthEmpresa.pug