//-- Contenido del Inicio del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title='MAD Services'

block body
  include ./componentes/cabecera.pug
  div.inicio
    form(method='GET' action='/categorias')
      button.btnCategorias='Categorias'
  include ./componentes/piepagina.pug