/*##################################################################################################*/
/*################################# FONDO GENERAL DE MAD SERVICES ##################################*/
/*##################################################################################################*/
body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: black;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
/*##################################################################################################*/
/*################################# PÁGINA POR RECURSO INEXISTENTE #################################*/
/*##################################################################################################*/
.Error {
  text-align: center;
  padding-top: 100px;
}
#estatus {
  color: red;
}
#mensaje {
  color: white;
}
/*##################################################################################################*/
/*####################################### BOTONES Y ENTRADAS #######################################*/
/*##################################################################################################*/
button {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  border-style: hidden;
  width: 140px;
  height: 25px;
  font-size: large;
  cursor: pointer;
}
button[type=submit] {
  width: 80px;
}
input {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 10px;
  border-style: hidden;
  height: 25px;
  padding-left: 10px;
}
input[type=search] {
  margin: 5px;
  width: 190px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
/*##################################################################################################*/
/*############################################ CABECERA ############################################*/
/*##################################################################################################*/
header {
  background: black;
  color: white;
  width: 100%;
  height: 7em;
}
.btnMADServices {
  background-color: transparent;
  width: 120px;
  height: 97px;
  margin-left: 100px;
}
.logoMADServices {
  width: 120px;
  height: 97px;
}
.organizacionCabecera {
  display: inline-block;
  margin-left: 120px;
  position: relative;
  bottom: 90px;
}
#buscarCabecera {
  margin-left: 400px;
}
#btnRegistrarse {
  width: 125px;
}
#iconoWorld {
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  right: 5px;
}
.eligeIdiomas {
  width: 80px;
  height: 40px;
  color: white;
  background-color: black;
}
/*##################################################################################################*/
/*######################################### PIE DE PÁGINA ##########################################*/
/*##################################################################################################*/
footer {
  background: black;
  color: white;
  width: 100%;
}
.organizacionPiePagina {
  display: inline-block;
  font-size: large;
}
#exceptoCopyright {
  margin-left: 130px;
}
.botonesPiePagina {
  background-color: transparent;
  text-align: center;
  color: white;
}
#btnContacto {
  width: 85px;
}
#btnConoce {
  width: 180px;
}
#btnEmpleo {
  width: 190px;
}
.redesSociales{
  width: 20px;
  height: 20px;
}
/*##################################################################################################*/
/*############################ CUADRO DEL CONTACTO, CONÓCENOS Y EMPLEO #############################*/
/*##################################################################################################*/
.cuadro {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
  justify-content: center;
  place-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top: 110px;
  left: 240px;
  width: 1000px;
  height: 700px;
  border-radius: 20px;
  border-color: goldenrod;
  padding: 40px;
  box-shadow: 14px 14px 20px silver, -14px -14px 20px white;
}
/*##################################################################################################*/
/*############################################# INICIO #############################################*/
/*##################################################################################################*/
.inicio {
  width: 100%;
  min-height: 125vh;
  background-image: url(../gifs/portadaMADservices.gif);
}
.btnCategorias {
  width: 200px;
  height: 80px;
  font-size: xx-large;
  background-color: black;
  color: white;
  position: relative;
  top: 100px;
  left: 650px;
}
/*##################################################################################################*/
/*######################################## PANTALLA OPCIÓN #########################################*/
/*##################################################################################################*/
.pantallaOpcion {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tituloOpcion {
  font-size: xx-large;
  text-align: center;
  color: white;
  word-spacing: 8px;
}
.botonesEnLinea {
  display: inline;
}
.btnEleccion{
  width: 155px;
  height: 60px;
  font-size: 30px;
}
#btnCliente {
  position: relative;
  right: 133px;
}
#btnEmpresa {
  position: relative;
  left: 97px;
  bottom: 76px;
}
/*##################################################################################################*/
/*############################### INICIAR SESIÓN: EMPRESA O CLIENTE ################################*/
/*##################################################################################################*/
.etiquetaLogin {
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
}
#Cliente {
  color: rgb(17, 126, 200);
}
#Empresa {
  color: orange;
}
.login {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background: silver;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  position: relative;
  top: 110px;
  left: 560px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  border-color: burlywood;
  padding: 40px;
  box-shadow: 14px 14px 20px silver, -14px -14px 20px white;
}
.madservicesLOGO {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px silver, -7px -7px 10px white;
}
.entradas {
  caret-color: red;
  text-align: left;
  display: block;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  top: 20px;
}
#espaciadoEtiqueta {
  margin-top: 10px;
}
#rellenoLogin {
  border-radius: 30px;
  height: 25px;
  padding-left: 20px;
}
#btnAcceso {
  width: 90px;
  height: 35px;
  position: relative;
  top: 70px;
  left: 110px;
}
#iconHome {
  width: 40px;
  height: 40px;
  position: relative;
  right: 5px;
}
#btnHome {
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  right: 10px;
  background: transparent;
}
.posicionBtnBack {
  position: relative;
  right: 133px;
  bottom: 40px;
}
.posicionIconBack {
  position: relative;
  right: 5px;
}
#iconBack {
  width: 40px;
  height: 40px;
}
#btnBack {
  width: 40px;
  height: 40px;
  background: transparent;
}
/*##################################################################################################*/
/*###################################### REGISTRARSE: CLIENTE ######################################*/
/*##################################################################################################*/
.fondoRegistrarseCliente {
  background-image: url(../gifs/gifClienteRegistrarse.gif);
}
#posicionNombre {
  margin-left: 177px;
}
#posicionApellidos {
  margin-left: 170px;
}
.genero {
  margin-left: 250px;
}
#posicionEmail {
  margin-left: 185px;
}
#posicionPassword {
  margin-left: 100px;
}
#posicionDireccion {
  margin-left: 165px;
}
#posicionPoblacion {
  margin-left: 163px;
}
#posicionRegion {
  margin-left: 182px;
}
#posicionPais {
  margin-left: 200px;
}
#posicionCP {
  margin-left: 240px;
  position: relative;
  bottom: 20px;
}
/*##################################################################################################*/
/*###################################### REGISTRARSE: GENERAL ######################################*/
/*##################################################################################################*/
.registrarse {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background: silver;
  justify-content: center;
  place-items: center;
  overflow-x: hidden;
  width: 50%;
  height: 100%;
  border-color: burlywood;
  padding: 40px;
  padding-bottom: 120px;
  box-shadow: 14px 14px 20px silver, -14px -14px 20px white;
}
.madservicestipologo {
  width: 120px;
  height: 120px;
}
.formRegistro {
  position: relative;
  top: 60px;
  text-align: left;
  margin-left: 50px;
}
.camposRegistro {
  margin-left: 15px;
  width: 350px;
}
.botonesSalientes {
  display: inline-block;
  margin-top: 80px;
}
#btnAinicio {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
#iconAinicio {
  width: 40px;
  height: 40px;
}
.posdeinicio {
  position: relative;
  right: 5px;
}
.posAtras {
  position: relative;
  right: 310px;
}
.posdeAtras {
  position: relative;
  right: 5px;
}
.posAlta {
  position: relative;
  left: 465px;
  top: 75px;
}
#btnAlta {
  width: 120px;
  height: 35px;
}
::-webkit-scrollbar {
  display: none;
}
/*##################################################################################################*/
/*###################################### REGISTRARSE: EMPRESA ######################################*/
/*##################################################################################################*/
.fondoRegistrarseEmpresa {
  background-image: url(../gifs/gifEmpresaRegistrarse.gif);
}
#posicionNombreSoc {
  margin-left: 65px;
}
.tipoEmpresa {
  margin-left: 160px;
}
#posicionCIF {
  margin-left: 120px;
}
#posicionEmailCo {
  margin-left: 185px;
}
#posicionPsswd {
  margin-left: 100px;
}
/*##################################################################################################*/
/*######################################## SECCIÓN CONTACTO ########################################*/
/*##################################################################################################*/
.contacto {
  width: 100%;
  min-height: 130vh;
  background-color: silver;
}
.logoContacto {
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
}
.emailsContacto {
  justify-content: left;
  font-size: large;
}
.separacionContacto {
  margin-left: 10px;
  letter-spacing: 4px;
}
/*##################################################################################################*/
/*################################## SECCIÓN CONOCE MAD SERVICES ###################################*/
/*##################################################################################################*/
.conoceMADs {
  width: 100%;
  min-height: 130vh;
  background-color: silver;
}
.logoConoce {
  width: 120px;
  height: 120px;
  float: center;
  margin-bottom: 20px;
}
.intro {
  justify-content: center;
  align-items: center;
}
.imagenConoce {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}
/*##################################################################################################*/
/*################################## SECCIÓN TRABAJA CON NOSOTROS ##################################*/
/*##################################################################################################*/
.empleo {
  width: 100%;
  min-height: 130vh;
  background-color: silver;
}
.logoEmpleo {
  width: 120px;
  height: 120px;
  float: center;
  margin-bottom: 40px;
}
.datosEmpleo {
  margin: 0 auto;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cajaRellenoCV {
  width: 500px;
  margin-left: 5px;
}
#nombreCV {
  margin-left: 10px;
}
#emailCV {
  margin-left: 30px;
}
#tabulacionNacimiento {
  margin-right: 215px;
}
#nacimientoCV {
  width: 200px;
}
#tabulacionCV {
  margin-right: 100px;
}
#archivoCV {
  width: 350px;
}
#tabulacionFicheros {
  margin-right: 100px;
}
#otrosFicheros {
  width: 330px;
}
#tabulacionPerfil {
  margin-right: 380px;
}
#especializacionCV {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 10px;
  border-style: hidden;
  height: 25px;
  padding-left: 10px;
  width: 150px;
}
#tabulacionPEmpleo {
  margin-right: 10px;
}
#empleoP {
  width: 490px;
}
#tabulacionREmpleo {
  margin-right: 10px;
}
#empleoR {
  width: 510px;
}
#tabulacionPaisEmpleo {
  margin-right: 10px;
}
#empleoPais {
  width: 530px;
}
#tabulacionMEmpleo {
  margin-right: 10px;
}
#empleoM {
  width: 530px;
}
#tabulacionAEmpleo {
  margin-right: 10px;
}
#empleoA {
  width: 520px;
}
textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#enviarCV {
  margin-top: 20px;
}
/*##################################################################################################*/
/*##################################################################################################*/
/*##################################################################################################*/