//-- Contenido del Componente Cabecera Autenticada para Empresas del Comercio Electrónico MAD Services.
div#cabecera
  ul.nav
    li
      form(method='GET' action=`/sesion-empresa/${id}`)
        button.btnMADServices
          img.logoMADServices(src='/images/madforcompanies.png' alt='madservices')
    li.menu
      form(method='GET' action=`/sesion-empresa/${id}/interfaz`)
        button.btnOculto#posMiInterfaz='Mi Interfaz'
    li.menu
      form(method='GET' action='/')
        button.btnOculto#posCerrarSesion='Cerrar sesión'