//-- Contenido del Componente Cabecera del Comercio Electrónico MAD Services.
div#cabecera
  ul.nav
    li
      form(method='GET' action='/')
        button.btnMADServices
          img.logoMADServices(src='/images/madservices.png' alt='madservices')
    li.menu
      form(method='GET' action='/login')
        button.btnOculto#btnLoginSesion='Iniciar Sesión'
    li.menu
      form(method='GET' action='/registrarse')
        button.btnOculto#btnsignup='Registrarse'
    li.menu#despliegue
      form(method='GET' action='/registrarse/cliente')
        button#btnCarrito
          i.fa-solid.fa-cart-arrow-down.fa-2xl#iconosCab
          span.contCarrito